.dateInfo span {
	font-size: 14px;
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
.dateInfo i {
	margin-right: 8px;
}
.socail-icon {
	margin-top:50px;
}
.socail_icon a {
	margin-right: 10px;
	display: block;
	font-size: 14px;
	border-bottom: 1px solid #eee;
	padding: 10px 0;
	text-transform: capitalize;
	color:#333;
}
.socail_icon a > i {
	font-size: 14px;
	width:10px;
	text-align: center;
	border-radius: 50%;
	margin-right:10px;
}
.facebook:hover{
	color: #3B5998;
}
.twitter:hover{
	color: #1DA1F2;
}
.linkedin:hover{
	color: #0077b5;
}
.youtube:hover{
	color: #CC181E;
}
.instagram:hover{
	color: #CC181E;
}